* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  color: #ffc600;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 204, 255, 1) 0%,
    rgba(9, 86, 121, 0.8) 63%
  );
}
body {
  height: 100vh;
  background-color: grey;
  background-size: covera;
  background: url("./pics/back.png") bottom center;
  object-fit: contain;
}
.keys {
  padding: 10px;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}
.key {
  height: 100px;
  width: 140px;
  margin: 10px 20px;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.07s ease;
  text-shadow: 0 0 2px black;
  border: 0.4rem solid black;
  border-radius: 3px;
}
.key > p {
  text-transform: uppercase;
  font-size: larger;
  text-decoration-style: solid;
  font-weight: bolder;
  text-align: center;
  background: inherit;

  color: white;
  padding-top: 10px;
}
.key > span {
  text-transform: uppercase;
  font-size: medium;
  text-decoration-style: solid;
  background: inherit;

  font-weight: lighter;
  text-align: center;
  display: block;
  color: yellowgreen;
  margin-top: 30px;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
